language: scala

matrix:
  include:
    - scala: 2.12.7
      jdk: oraclejdk8
      env:
        - SBT_VERSION=1.2.7

before_cache:
  - du -h -d 1 $HOME/.ivy2/cache
  - du -h -d 2 $HOME/.sbt/
  - find $HOME/.sbt -name "*.lock" -type f -delete
  - find $HOME/.ivy2/cache -name "ivydata-*.properties" -type f -delete

cache:
  directories:
  - $HOME/.sbt/0.13/dependency
  - $HOME/.sbt/boot/scala*
  - $HOME/.sbt/launchers
  - $HOME/.ivy2/cache
  - $HOME/.nvm

before_install:
  - if [ "$TRAVIS_BRANCH" = "master" -a "$TRAVIS_PULL_REQUEST" = "false" ]; then
      openssl aes-256-cbc -K $encrypted_5cd1f76c4e65_key -iv $encrypted_5cd1f76c4e65_iv -in secring.gpg.enc -out secring.gpg -d;
    fi
  - export PATH=${PATH}:./vendor/bundle

install:
  - rvm use 2.2.8 --install --fuzzy
  - gem update --system
  - gem install sass
  - gem install ruby_dep -v 1.3.1
  - gem install jekyll -v 3.4.3
  - gem install jekyll-redirect-from
  - nvm install 6
  - nvm use 6
  - node --version

script:
  - sbt ^^$SBT_VERSION clean compile test

after_success:
  - if [ "$TRAVIS_BRANCH" = "master" -a "$TRAVIS_PULL_REQUEST" = "false" ]; then
      if grep -q "SNAPSHOT" version.sbt; then
        sbt ^^$SBT_VERSION publish;
      else
        sbt ^^$SBT_VERSION orgUpdateDocFiles;
        git reset --hard HEAD;
        git clean -f;
        git checkout master;
        git pull origin master;
        sbt ^^$SBT_VERSION release;
        sbt ^^$SBT_VERSION docs/publishMicrosite;
      fi
    fi
